
.msg-node-to {
    position: relative;
    right:20px;
	background: #9cf5e6;
    border-radius: .4em;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right:2%;
	padding-left:1%;
	word-wrap: break-word;
}

.msg-node-to:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #9cf5e6;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.msg-node-from {
    position: relative;
    left:20px;
	background: #e89fc9;
    border-radius: .4em;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right:1%;
	padding-left:2%;
	word-wrap: break-word;
}

.msg-node-from:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #e89fc9;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
button {
border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #5BFFE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  /* width: 100%; */
  font-size: 18px;
}

