{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load explore-tags %}
{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/post-script.js'%}" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post-base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
  <div class="row">
    <!-- post details-->
    <div class="panel">
      <div class="panel-heading">
          <div class="text-center">
              <div class="row">
                  <div class="col-sm-9">
                      <h3 class="pull-left">{{ post.title }}</h3>
                  </div>
                  <div class="col-sm-3">
                      <h4 class="pull-right">
                      <small><em>{{post.created_date}}</em></small>
                      </h4>
                  </div>
              </div>
          </div>
      </div>
      
    <div class="panel-body">
      {{ post.content }}
    </div>
  </div>

  <div class="row">
      <!-- Comments Form --> 
      <button type="button" class="comment-button" id="{{post.pk}}">Add a new comment</button>
      <!-- Hidden input for post-->
      <form action="." method="post" id="form-{{post.pk}}" class="comment-form">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <input type="hidden"  value="{{ post.pk }}">
          <button type="submit">Add comment</button>
      </form>

      <!-- Comment with nested comments -->
      {% for comment in comments %}
        <div class="comment" style="background-color: powderblue">
            <p class="info">{{ comment.created_date }}</p>
                {{ comment.content|linebreaks }}
              <button id="{{comment.pk}}" type="button"  class="reply-button">Add a reply</button>
              <!-- Hidden input for parent comment.id -->
              <form id="form-{{comment.pk}}" class="reply-form" action="." method="post">
                <h5>Reply</h5>
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <input type="hidden" name="parent_id" value="{{ comment.pk }}">
                  <input class="button" type="submit" value="Reply">
              </form>

            {% for reply in comment.replies.all %}
                <p class="info">{{ reply.created_date }}</p>
                <li>{{ reply.content }}</li>
            {% endfor %}

            
        </div>
      {% empty %}
      <h4>There are no comments yet.</h4>
      {% endfor %}
    </div>

    

</div>
{% endblock %}