.search-input {
    height: 30px;
    width: 150px;
    
}

#create-new-forum {
    display: flex;
    flex-direction: column; 
    width: 90%; 
}
#create-new-forum > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
}
.form-row {
    text-align: left; 
    margin-left: 5%;
    margin-right: 5%;
}