#recent-activity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#recent-activity-container > div {
  background-color: #f1f1f1;
  width: 60%;
  margin: 10px;
  text-align: center;

}
#recent-activity {
  font-size: 20px;
}
#friends {
  font-size: 20px;
  text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .profile-image {
    text-align: center;  
    padding-right: 20px;
  } 
  .title {
    color: grey;
    font-size: 18px;
  }
  .edit, .save, .cancel {
      font-size: 15px;
      cursor: pointer;
  }
  .info-feild {
    word-wrap: break-word;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
  .button-container > button {
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #5BFFE5;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a:link {
    text-decoration: none;
    font-size: 22px;
    color:#5BFFE5;
    text-align: center;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
#profile-friend-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  overflow-y: scroll;
  height: 400px;
  
}

#bio {
    overflow-y: scroll;
    height: 100px;
    width:400px;
}
